
body {
    font-family: 'Roboto', sans-serif;
    
    margin: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}


.disabled {
    background: #e2e2e2 !important;
    color: #7d7d7d !important;;
}

.disabled:hover {
    background: #d2d2d2 !important;;
}
